body {
    margin-top: 68px;
    background-color: #e5ded4;
    background-image: url('./background-texture.png');
    background-repeat: repeat;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 68px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    .logo {
        font-family: "theseasons_bold";
        text-transform: uppercase;
        font-size: 1.55vw;
        line-height: 1.25vw;
        letter-spacing: 1.5px;
    }
    .navLink {
        text-transform: uppercase;
        font-family: "sofiapro-regular";
        font-size: 1.1vw;
        line-height: 1.25vw;
        letter-spacing: 1.5px;
    }
}